.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #091224;
  color: #ffffff;
}

.birdImgStyle {
  width: 2vw;
  height: 100%;
}

.headerText {
  font-size: 1vw;
  font-weight: 600;
}

.gridItem {
  padding: 2vw;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-color: #28395a;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.gridItem:nth-child(1) {
  padding-right: 5vw;
}

.gridItem:nth-child(2) {
  justify-content: center;
  position: relative;
}

.gridItem:nth-child(3) {
  column-gap: 1.5vw;
  padding-right: 3vw;
}

.homeTextStyle {
  font-size: 1vw;
  font-weight: 700;
}

.createBtncontainer {
  position: absolute;
  right: 2vw;
}

.createBtnStyle {
  border: none;
  padding: 0.4vw 1vw;
  border-radius: 1vw;
  background-color: #e88607;
  color: #ffffff;
  font-size: 0.8vw;
  font-weight: 600;
  cursor: pointer;
}

.profilePictureImg {
  width: 2vw;
  height: 100%;
}

.userNameStyle {
  font-size: 1vw;
  font-weight: 600;
}

.menuIconStyle {
  width: 1vw;
  height: 100%;
}
